---
layout: page
title: Blog
description: "The personal blog of Dylan Steele."
headline: Welcome to my blog
tags: [Dylan, Steele, blog, home]
---

<ul class="post-list">
{% for post in paginator.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}"><i class="fa fa-pencil"></i> {{ post.title }} 
  <span class="entry-date">Posted in <strong>{{ post.categories | join: ', ' | capitalize }}</strong> {% if post.read-time %}&nbsp;&bull;&nbsp; <!-- <i class="fa fa-clock-o"></i>-->{{ post.read-time }} {% endif %}</span></a></article></li>
  <p>{{ post.content | strip_html | truncatewords:40 }}&nbsp; <a href="{{ post.url }}">Read more</a></p>
{% endfor %}
<br>
 <div align="center">
  <nav id="pagination">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/" class="btn" title="Newer Posts">&laquo; Newer Posts</a>
      {% else %}
     <a href="/page{{ paginator.previous_page }}/" class="btn" title="Newer Posts">&laquo; Newer Posts</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" class="btn" title="Older Posts">Older Posts &raquo;</a>
    {% endif %} 
  </nav>
Page: {{ paginator.page }} of {{ paginator.total_pages }}
<!--   <br/><br/>
  <a href="/categories" class="" title="Category Archive">View Blog by Categories</a>
  |
  <a href="/tags" class="" title="Tag Archive">View Blog by Tags</a> -->

  </div>

</ul>